.list {
  background-color: #ebecf0;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 220px;
  margin-bottom: 12px;
  margin-right: 12px;
  height: fit-content;
  .list-header {
    display: flex;
    margin-bottom: 8px;
    .list-name {
      padding-left: 10px;
      font-weight: 600;
    }
    .img-list {
      width: 14px;
    }
  }
}
