.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 24px;
  margin-bottom: 12px;
  background-color: #026aa7;
  color: #fff;
  font-weight: 600;
}
